## Import Pandas

In [2]:
import pandas as pd

## Read in the dataset

In [3]:
data = pd.read_table('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Filtering based on multiple conditions

In [4]:
data[(data['Zhvi'] > 1000000) & (data['State'] == 'NY')].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2405,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
2619,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
3032,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3064,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200

## Filtering on  multiple conditions - OR

In [5]:
data[((data['State'] == 'CA') | (data['State'] == 'NY'))].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300

## Filtering using `isin` method

In [6]:
filter = data['Metro'].isin(['New York', 'San Francisco'])
data[filter].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
63,2017-05-31,12970,Newark,NJ,New York,Essex,63,232800
72,2017-05-31,25320,Jersey City,NJ,New York,Hudson,72,380000

## Using `isin` method with multiple conditions

In [7]:
filter = data.isin({'State': ['CA'], 'Metro': ['San Francisco']})
data[filter].head()

  Date  RegionID RegionName State Metro County  SizeRank  Zhvi
0  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
1  NaN       NaN        NaN    CA   NaN    NaN       NaN   NaN
2  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
3  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN
4  NaN       NaN        NaN   NaN   NaN    NaN       NaN   NaN