## Import Pandas

In [4]:
import pandas as pd

## Read in the dataset

In [5]:
data = pd.read_table('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Changing an int column to float

In [6]:
data.dtypes

Date          object
RegionID       int64
RegionName    object
State         object
Metro         object
County        object
SizeRank       int64
Zhvi           int64
dtype: object

In [7]:
data['Zhvi'] = data.Zhvi.astype(float)

In [8]:
data.dtypes

Date           object
RegionID        int64
RegionName     object
State          object
Metro          object
County         object
SizeRank        int64
Zhvi          float64
dtype: object

## Changing datatype while reading data

In [9]:
data2 = pd.read_csv('data-zillow.csv', sep=',', dtype={'Zhvi':float})
data2.dtypes

Date           object
RegionID        int64
RegionName     object
State          object
Metro          object
County         object
SizeRank        int64
Zhvi          float64
dtype: object

## Converting string to datetime

In [16]:
pd.to_datetime(data2.Date,infer_datetime_format=True).head()

0   2017-05-31
1   2017-05-31
2   2017-05-31
3   2017-05-31
4   2017-05-31
Name: Date, dtype: datetime64[ns]