## Introduce our dataset

* Data from Zillow.com, a real estate marketplace.
* A public and free to use dataset, after attribution.
* Real dataset which lists mean prices of houses in various locations in US.
* Dataset is a csv or a comma separated values text file.
* Available here - https://www.zillow.com/research/data/

## Import Pandas

In [1]:
import pandas as pd

## Read in the dataset

In [2]:
data = pd.read_table('data-zillow.csv', sep=',')

## View the dataset

In [14]:
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

# Select data

### Select a Series with bracket notation

In [20]:
regions = data['RegionName']

In [21]:
type(regions)

pandas.core.series.Series

In [22]:
regions

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, dtype: object

## DataFrame vs Series

## Multi Column Selection - Series or DataFrame

In [25]:
region_n_state = data[['RegionName', 'State']]
region_n_state.head()

     RegionName State
0      New York    NY
1   Los Angeles    CA
2       Chicago    IL
3  Philadelphia    PA
4       Phoenix    AZ

In [26]:
type(region_n_state)

pandas.core.frame.DataFrame

## Select using dot notation

In [28]:
data.State

0        NY
1        CA
2        IL
3        PA
4        AZ
5        NV
6        CA
7        TX
8        CA
9        FL
10       CA
11       TX
12       MI
13       OH
14       TN
15       NC
16       TX
17       MA
18       WA
19       MD
20       CO
21       DC
22       TN
23       WI
24       AZ
25       OR
26       OK
27       NE
28       NM
29       CA
         ..
10800    VA
10801    WV
10802    CO
10803    VA
10804    MD
10805    KY
10806    MO
10807    MD
10808    CA
10809    IN
10810    CA
10811    GA
10812    CO
10813    CO
10814    GA
10815    AR
10816    NJ
10817    CA
10818    NY
10819    AR
10820    NC
10821    IN
10822    MD
10823    NY
10824    AL
10825    OR
10826    TX
10827    NJ
10828    VA
10829    NH
Name: State, dtype: object

## Creating a new series by selection

In [29]:
data['Address'] = data.County + ', ' + data.Metro + ', ' + data.State

In [31]:
data.Address

0                                   Queens, New York, NY
1        Los Angeles, Los Angeles-Long Beach-Anaheim, CA
2                                      Cook, Chicago, IL
3                         Philadelphia, Philadelphia, PA
4                                  Maricopa, Phoenix, AZ
5                                   Clark, Las Vegas, NV
6                               San Diego, San Diego, CA
7                          Dallas, Dallas-Fort Worth, TX
8                              Santa Clara, San Jose, CA
9                                Duval, Jacksonville, FL
10                      San Francisco, San Francisco, CA
11                                    Travis, Austin, TX
12                                    Wayne, Detroit, MI
13                                Franklin, Columbus, OH
14                                   Shelby, Memphis, TN
15                            Mecklenburg, Charlotte, NC
16                                  El Paso, El Paso, TX
17                                   Suffolk, Boston, MA
18                                     King, Seattle, WA
19                         Baltimore City, Baltimore, MD
20                                    Denver, Denver, CO
21                  District of Columbia, Washington, DC
22                               Davidson, Nashville, TN
23                              Milwaukee, Milwaukee, WI
24                                      Pima, Tucson, AZ
25                               Multnomah, Portland, OR
26                           Oklahoma, Oklahoma City, OK
27                                    Douglas, Omaha, NE
28                           Bernalillo, Albuquerque, NM
29                                    Fresno, Fresno, CA
                              ...
10800                              Augusta, Staunton, VA
10801                            Kanawha, Charleston, WV
10802                       Routt, Steamboat Springs, CO
10803                             Botetourt, Roanoke, VA
10804         Saint Marys, California-Lexington Park, MD
10805                               Calloway, Murray, KY
10806                            Greene, Springfield, MO
10807                            Wicomico, Salisbury, MD
10808                           Marin, San Francisco, CA
10809                                   Pike, Jasper, IN
10810    Los Angeles, Los Angeles-Long Beach-Anaheim, CA
10811                                Dawson, Atlanta, GA
10812                                  Weld, Greeley, CO
10813                              La Plata, Durango, CO
10814                             Muscogee, Columbus, GA
10815                          Sebastian, Fort Smith, AR
10816                        Atlantic, Atlantic City, NJ
10817                           Marin, San Francisco, CA
10818                               Nassau, New York, NY
10819                           Benton, Fayetteville, AR
10820                           Henderson, Asheville, NC
10821                            Noble, Kendallville, IN
10822                                                NaN
10823                               Ulster, Kingston, NY
10824                            Autauga, Montgomery, AL
10825                                                NaN
10826                             Galveston, Houston, TX
10827                            Hunterdon, New York, NJ
10828                              Henrico, Richmond, VA
10829                             Rockingham, Boston, NH
Name: Address, dtype: object