## Import Pandas

In [3]:
import pandas as pd

## Our dataset

In [4]:
dataset = pd.DataFrame({'DOB': ['1976-06-01', '1980-09-23', '1984-03-30', '1991-12-31', '1994-10-2', '1973-11-11'],
                        'Sex': ['F', 'M', 'F', 'M', 'M', 'F'],
                        'State': ['CA', 'NY', 'OH', 'OR', 'TX', 'CA'],
                        'Name': ['Jane', 'John', 'Cathy', 'Jo', 'Sam', 'Tai']})

In [5]:
dataset

          DOB   Name Sex State
0  1976-06-01   Jane   F    CA
1  1980-09-23   John   M    NY
2  1984-03-30  Cathy   F    OH
3  1991-12-31     Jo   M    OR
4   1994-10-2    Sam   M    TX
5  1973-11-11    Tai   F    CA

## let's first convert our date column to `datetime`

In [6]:
dataset.dtypes

DOB      object
Name     object
Sex      object
State    object
dtype: object

In [38]:
dataset.DOB = pd.to_datetime(dataset.DOB)

In [7]:
dataset.dtypes

DOB      object
Name     object
Sex      object
State    object
dtype: object

### Let's set index to the date column

In [8]:
dataset.set_index('DOB', inplace=True)

In [9]:
dataset

             Name Sex State
DOB
1976-06-01   Jane   F    CA
1980-09-23   John   M    NY
1984-03-30  Cathy   F    OH
1991-12-31     Jo   M    OR
1994-10-2     Sam   M    TX
1973-11-11    Tai   F    CA

### Filter and select time series Data

In [41]:
dataset['1980']

            Name Sex State
DOB
1980-09-23  John   M    NY

In [42]:
dataset['1980':]

             Name Sex State
DOB
1980-09-23   John   M    NY
1984-03-30  Cathy   F    OH
1991-12-31     Jo   M    OR
1994-10-02    Sam   M    TX

In [43]:
dataset[:'1980']

            Name Sex State
DOB
1976-06-01  Jane   F    CA
1980-09-23  John   M    NY
1973-11-11   Tai   F    CA

In [45]:

dataset['1980':'1984']

             Name Sex State
DOB
1980-09-23   John   M    NY
1984-03-30  Cathy   F    OH

In [51]:
dataset.reset_index(inplace=True)

### Get properties of date-time series data

In [55]:
dataset.DOB.dt.dayofyear

0    153
1    267
2     90
3    365
4    275
5    315
Name: DOB, dtype: int64

In [56]:
dataset.DOB.dt.weekday_name

0    Tuesday
1    Tuesday
2     Friday
3    Tuesday
4     Sunday
5     Sunday
Name: DOB, dtype: object